@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1B1726;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    color: #FF5A2C;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 10px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #FF5A2C;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-txt {
    flex-basis: 100%;
    text-align: center;
}

.header-txt h1 {
    font-size: 50px;
    color: #ffffff;
    line-height: 1.3;
    margin-bottom: 25px;
}

.header-txt span {
    color: #FF5A2C;
}

.header-txt p {
    font-size: 17px;
    color: #E0E0E0;
    margin-bottom: 45px;
}

.butons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-1, .btn-2, .btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid #FF5A2C;
    border-radius: 25px;
    margin: 10px;
    font-size: 17px;
    color: #ffffff;
}

.btn-1:hover {
    background-color: #FF5A2C;
}

.popular {
    padding: 100px 0;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 45px;
}

.Product-countent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
}

.Product-1 {
    background-color: #2A223A;
    border-radius: 10px;
    overflow: hidden;
}

.Product-1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.Product-txt {
    padding: 30px 20px;
}

h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 17px;
    color: #FF5A2C;
}

.btn-2 {
    padding: 5px 25px;
    background-color: #FF5A2C;
    margin-bottom: 0;
    border: none;
}

.contact {
    padding: 100px 150px;
}

.contact-content {
    background-color: #2A223A;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}

.contact-content h2 {
    margin-bottom: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

input, select {
    padding: 15px 20px;
    background-color: #3f3456;
    border: none;
    border-radius: 25px;
    outline: none;
    color: #ffffff;
    font-size: 17px;
    width: 100%;
    max-width: 400px;
}

::placeholder {
    color: #E0E0E0;
    font-size: 17px;
}

.btn-3 {
    background-color: #FF5A2C;
    cursor: pointer;
    border: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
}

.link ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.link ul li > a {
    font-size: 17px;
    color: #ffffff;
}

.link ul li > a:hover {
    color: #FF5A2C;
}

@media(max-width: 991px) {

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FF5A2C;
        display: none;
        flex-direction: column;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a:hover {
        color: #1B1726;
    }

    #menu:checked ~ .navbar {
        display: flex;
    }

    .header {
        padding: 50px 30px;
        min-height: auto;
    }

    .header-txt h1 {
        font-size: 40px;
    }

    .popular {
        padding: 60px 20px;
    }

    .contact {
        padding: 30px 20px;
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    input, select {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        justify-content: center;
    }

    .popular-content img {
        margin-bottom: 90px;
        border-radius: 10px;
    }
    
    
}